*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background-image:url("/static/bg.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

height:100vh;
display:flex;
justify-content:center;
align-items:center;

}

.container{

width:420px;
padding:40px;

background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);

border-radius:15px;
box-shadow:0px 0px 15px rgba(0,0,0,0.3);

color:white;
text-align:center;

}

h2{
margin-bottom:20px;
}

input{

width:100%;
padding:10px;
margin:10px 0;

border:none;
border-radius:5px;

}

button{

width:100%;
padding:12px;

background:#00c853;
color:white;

border:none;
border-radius:5px;

font-size:16px;
cursor:pointer;

}

button:hover{
background:#009624;
}

p{
margin:8px;
font-size:18px;
}

h3{
margin-top:15px;
color:#ffff99;
}